project
{
    version 4.0
    timestamp 2022-11-19T14:42:58+0000
}
devices
{
    device
    {
        id target
        manufacturer actel
        die MPFS250T_ES
        package FCVG484
        mss_keep_alive false
        no_power_down false
        ios_cfg_path ""
        envms
        {
            envm
            {
                num_bytes 98848
                file_format intel-hex
                file_path C:\\SOFTCONSOLE\\hart-software-services-master\\hart-software-services\\Default/bootmode1/hss-envm-wrapper-bm1-p0.hex
                start_page 0
                client_name bootmode1_0
                base_addr 20220000
            }
        }
        mss_boot_info
        {
            ucskx ""
            ucsky ""
            bootmode 1
            bootcfg 2022010020220100202201002022010020220100
            reset_sbic_version false
        }
    }
}
